$black: #000;
$white: #fff;

$yiq-text-dark: $black;
$yiq-text-light: $white;
$yiq-contrasted-threshold: 150;

$primary: #0D0C52;
$secondary: #5848D5;
$gray: #404040;
$gray-light: #999;
$dark: #030402;
$light: #F6F9FE;

$text-color: $white;
$link-color: $primary;
$link-hover-color: $primary;

$body-color: $primary;
$body-bg: $white;

$headings-color: inherit;

$theme-colors: (
  'p': $primary,
  's': $secondary,
  'g': $gray,
  'gl': $gray-light,
  'd': $dark
);

$theme-hover-colors: (
  'p': #078c5f,
  's': darken($secondary, 10%),
  'g': darken($gray, 5%),
  'd': darken($dark, 5%),
);
